/* Estilos generales */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e2eafc;
    display: flex;
    flex-direction: column;
}

/* Login */

.login-page {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 100px;
    top: 12%;
}

.side-logo img {
    width: 550px;
}

.login-container {
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    margin-bottom: 0;
    text-align: center;
    justify-content: center;
    width: 600px;
}

.login-container h2 {
    color: #003554;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 35px;
    padding-bottom: 50px;
}

.login-container p {
    color: #003554;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    padding-bottom: 50px;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
}

.login-form label,
.login-form input,
.login-form button {
    width: 100%;
    max-width: 400px;
    margin-bottom: 35px;
}

.login-form label {
    color: #003554;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
}

.login-form button {
    color: #003554;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    background-color: #ccdbfd;
    font-size: 20px;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 35px;
}

.login-form button:hover {
    background-color: #b6ccfe;
}

.login-form input[type="text"],
.login-form INPUT[type="email"],
.login-form input[type="password"] {
    color: #003554;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
    text-align: center;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.center-dash {
    width: 3px;
    height: 550px;
    background-color: #000;
    margin: 0 5px;
}

/* Menu Header */

.menuHeader {
    background-color: #2d4af1;
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    margin-bottom: 0;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 150px;
}

.menuHeader img {
    width: 100%;
    max-width: 550px;
    margin: auto;
}

/* Main */

.mainMenu {
    position: absolute;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0 15px;
    text-align: center;
    justify-content: center;
    width: 100%;
    top: 22%;
}

.tittle h1 {
    color: #003554;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 40px;
    padding-bottom: 40px;
}

#userMessage {
    color: #003554;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 30px;
    padding-bottom: 35px;
}

.buttonsRow {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttonsRow a {
    width: 100%;
    max-width: 300px;
}

.buttonsRow button {
    width: 100%;
    max-width: 300px;
    margin-bottom: 30px;
    color: #003554;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    background-color: #ccdbfd;
    font-size: 25px;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 35px;
}

.buttonsRow button:hover {
    background-color: #b6ccfe;
}

/* Make Receipt */

.tittle {
    align-items: center;
    text-align: center;
    padding: 15px;
}

.mainContainer {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: auto;
}

.formContainer {
    display: block;
    width: 800px;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid black;
    margin-bottom: 20px;
    border-radius: 10px;
}

form {
    margin-bottom: 20px;
}

form h3 {
    color: #003554;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    margin-top: 10px;
    margin-bottom: 10px;
}

form label {
    display: block;
    margin-top: 10px;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

form input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-size: 16px;
}

form input::placeholder {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 16px;
}

form textarea {
    width: 100%;
    max-height: 115px;
    min-height: 64px;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    resize: vertical;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
}

form textarea::placeholder {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
}

.char-count {
    font-size: 0.9rem;
    color: #555;
    float: right;
}

form select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 16px;
}

.receiptContainer {
    display: none;
    width: 800px;
    margin: 0 auto;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid black;
}

.receipt {
    display: grid;
    grid-template-areas:
        "logo logo"
        "company-info client-info"
        "details details"
        "total total"
        "signature signature"
        "funcButtons funcButtons";
    grid-gap: 10px;
}

.header {
    grid-area: logo;
    text-align: center;
    border-bottom: 1 solid black;
    padding-bottom: 10px;
}

.header img {
    width: 100%;
    max-width: 250px;
}

.info {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding-bottom: 20px;
}

.company-info, .client-info {
    width: 45%;
}

.details {
    grid-area: details;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    border-bottom: 1px solid black;
    padding-bottom: 20px;
}

.total {
    grid-area: total;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    border-top: 1px solid black;
}

.signature {
    grid-area: signature;
    margin-top: 20px;
}

.receiptButtons {
    margin-top: 10px;
}

.receiptButtons button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px;
    color: #003554;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    background-color: #ccdbfd;
    font-size: 18px;
    margin-right: 15px;
    border-radius: 6px;
}

.receiptButtons button:hover {
    background-color: #b6ccfe;
}

.resetButton {
    float: right;
}

.funcButtons {
    grid-area: funcButtons;
    text-align: center;
}

.funcButtons button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px;
    color: #003554;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    background-color: #ccdbfd;
    font-size: 18px;
    margin-right: 15px;
    border-radius: 6px;
}

.funcButtons button:hover {
    background-color: #b6ccfe;
}

/* Footer */

.footer {
    background-color: #2d4af1;
    padding: 40px;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.footer h3 {
    color: white;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}